<div class="header-container">
  <div class="container">
    <div class="row">
      <div class="navbar navbar-default navbar-custom sticky-top">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="title-header">
          Hans Lauwers
        </div>
        <div class="navbar-collapse collapse navbar-responsive-collapse navbar-collapse-custom">
          <ul class="nav navbar-nav navbar-nav-custom">
            <li class="navbar-li-custom"><%= link_to "Home", root_path  %></li>
            <li class="navbar-li-custom"><%= link_to "Projects", projects_path  %></li>
            <li class="navbar-li-custom"><%= link_to "About", about_path  %></li>
            <li class="navbar-li-custom cv-link"><%= link_to "Link to full resume", "Resume_Hans_Lauwers.pdf", target: "_blank"  %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
