<div class="intro-text-container keys-container">
  <div class="row row-separator">
    <div class="col-lg-6 col-separator">
      <div class="keys-info quadrant">
        <div>
          Full-stack software engineer
        </div>
        <div>
          Problem solver
        </div>
        <div>
          Team player
        </div>
        <div>
          Always looking to learn and improve!
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="quadrant">
        <div class="skills">
          Ruby On Rails, React, Redux, jQuery, Bootstrap, SCSS, SQL, Heroku, REST, Postgres, Webpack, Yarn, Minitest, Jest, Enzyme, Git, CircleCI, Resque,...
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-separator">
      <div class="quadrant">
        <div class="check-out-projects">
          <%=link_to "Check out some projects I've worked on!", projects_path %>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="commits quadrant">
      </div>
    </div>
  </div>
</div>






