<script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
<script src="https://www.amcharts.com/lib/3/serial.js"></script>
<script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
<link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
<script src="https://www.amcharts.com/lib/3/themes/light.js"></script>

<h1 align="center">Hans Lauwers</h1>
<h2>Technologies</h2>
<style>
#chartdiv {
  width: 40%;
  height: 250px;
}                   
</style>
<%= javascript_tag do %>
  var technologyItemsForChart = [];
  <% @technologies.each do |technology| %>
      technologyItemsForChart.push({"technology" : '<%= technology.title %>',
         "level" : <%= technology.skills_level %>, "color" : "red"});
  <% end %>
<% end %>
<script>
  
  generateTechnologyChart(technologyItemsForChart);
</script>

<div id="chartdiv"></div>
