<div class="intro-text-container keys-container">
  <div class="keys-info">
    <div>
      Experienced software engineer
    </div>
    <div>
      Ruby On Rails, SharePoint, .NET,...
    </div>
    <div>
      ReactJS, jQuery, Redux, AJAX, Bootstrap, CSS, AngularJS...
    </div>
    <div>
      Cloud9, Sublime Text, Visual Studio, Git, TFS,...
    </div>
    <div>
      Analytical thinking, pragmatic delivery
    </div>
    <div>
      Prefers teamwork
    </div>
    <div>
      Always looking to learn and improve!
    </div>
  </div>
  <div class="check-out-projects">
    <%=link_to "Check out some projects I've worked on!", projects_path %>
  </div>
</div>






