
<!-- <script>
var technologylist = [
  {text: 'SharePoint', weight: 2.5},
  {text: 'Ruby on Rails', weight: 2.0},
  //{text: 'HTML', weight: -0.55},
  {text: 'CSS', weight: 1.7},
  //{text: 'SCSS', weight: 0.8},
  //{text: 'Javascript', weight: 0.6},
  {text: 'jQuery', weight: 1.9},
  {text: 'AJAX', weight: 0.4},
  //{text: '.NET', weight: 1.5},
  {text: 'Java', weight: 1.4},
  //{text: 'Powershell', weight: 0.2},
  {text: 'C#', weight: 1.2},
  {text: 'SQL', weight: 1.4},
  {text: 'Github', weight: 1},
  {text: 'TFS', weight: 0.8},
  //{text: 'SQL Management Studio', weight: -0.5},
  {text: 'Eclipse', weight: 0.8},
  {text: 'Visual Studio', weight: 1.5},
  {text: 'Google Analytics', weight: 0.4},
  {text: 'Bootstrap', weight: 1.2},
  //{text: 'Developer Tools', weight: 0},
  //{text: 'HttpWatch', weight: 0},
  //{text: 'Cloud9', weight: 0.5},
  //{text: 'MVC', weight: 1.5}
];

$(document).ready(function() {
   $("#wordcloud").jQCloud(technologylist);
});

</script> -->

<div class="intro-text-container keys-container">
  <div class="keys-info">
    <div>
      Experienced software engineer
    </div>
    <div>
      Ruby On Rails, SharePoint, .NET,...
    </div>
    <div>
      ReactJS, jQuery, Redux, AJAX, Bootstrap, CSS, AngularJS...
    </div>
    <div>
      Cloud9, Sublime Text, Visual Studio, Git, TFS,...
    </div>
    <div>
      Analytical thinking, pragmatic delivery
    </div>
    <div>
      Prefers teamwork
    </div>
    <div>
      Always looking to learn and improve!
    </div>
  </div>
  <div class="check-out-projects">
    <%=link_to "Check out some projects I've worked on!", projects_path %>
  </div>
</div>

<div class="wordcloud-container">
  <div id="wordcloud" class="wordcloud" style=""></div>
</div>






