<script>
var technologylist = [
  {text: 'SharePoint', weight: 2.5},
  {text: 'Ruby on Rails', weight: 2.0},
  //{text: 'HTML', weight: -0.55},
  {text: 'CSS', weight: 1.7},
  //{text: 'SCSS', weight: 0.8},
  //{text: 'Javascript', weight: 0.6},
  {text: 'jQuery', weight: 1.9},
  {text: 'AJAX', weight: 0.4},
  //{text: '.NET', weight: 1.5},
  {text: 'Java', weight: 1.4},
  //{text: 'Powershell', weight: 0.2},
  {text: 'C#', weight: 1.2},
  {text: 'SQL', weight: 1.4},
  {text: 'Github', weight: 1},
  {text: 'TFS', weight: 0.8},
  //{text: 'SQL Management Studio', weight: -0.5},
  {text: 'Eclipse', weight: 0.8},
  {text: 'Visual Studio', weight: 1.5},
  {text: 'Google Analytics', weight: 0.4},
  {text: 'Bootstrap', weight: 1.2},
  //{text: 'Developer Tools', weight: 0},
  //{text: 'HttpWatch', weight: 0},
  //{text: 'Cloud9', weight: 0.5},
  //{text: 'MVC', weight: 1.5}
];

$(document).ready(function() {
   $("#wordcloud").jQCloud(technologylist);
});

</script>

<div class="intro-text-container keys-container">
  <div class="keys-title">
    <h3>Key Info</h3>
  </div>
  <div class="keys-info">
    <div>
      Web developer for 6 years (2012-2018)
    </div>
    <div>
      Java programming for 6 years before that (2005-2012)
    </div>
    <div>
      Comfortable with many tools &amp; technologies (see cloud on the right)
    </div>
    <div>
      Analytical thinking, practical delivery
    </div>
    <div>
      Prefers teamwork
    </div>
    <div>
      Fluent in English, Dutch, and French
    </div>
    <div>
      Fan of the oxford comma
    </div>
    <div>
      And most importantly, always looking to learn and improve!
    </div>
  </div>
</div>
<div class="wordcloud-container">
  <div id="wordcloud" class="wordcloud" style=""></div>
</div>






