<div class="projects-pane">
  <ul class="nav-demo">
    <% @projects.order(order: :desc).each do |project| %>
    <li><a href="#project_<%= project.id %>"><%= project.title %></a>
    <% end %>
  </ul>
</div>
<div class="projects-list">
  <h2 align="center">Projects</h2>
  <% @projects.order(order: :desc).each do |project| %>
    <section>
      <a name="project_<%= project.id %>" class="invisible-anchor-2">anchor text [invisible]</a>
      <a class="invisible-anchor">anchor text [invisible]</a>
      <%= render project %>
    </section>
  <% end %>
</div>
<div id="myModal" class="modal">
  <span class="close" onclick="javascript:closeModal();">&times;</span>
  <img class="modal-content" id="modal-for-project">
  <div id="caption"></div>
</div>
