$black: #000000;
$lightgrey : #ecf0f1;
$darkgrey: #666;
$stronggreen: #17ed17;
$strongblue: #173eed;


/* Application Page */
body{
  color: white;
}
.background-div{
  background-image: url('/assets/sf-background-2000-1076.jpg');
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: -webkit-fill-available;
  opacity: 0.7;
}
.header-container
{
  /*position: fixed;
  top: 0;
  z-index: 2;*/
  width: 100%;
  padding-top: 10px;
}
.center
{
  align: center;
}




/* Navigation */
.navbar-custom
{
  background-color: transparent;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 3px solid $black;
  border-radius: 0px;

  .title-header{
    font-size: 1.9em;
    font-weight: bold;
    padding: 15px;
    width: 25%;
    float: left;
    font-family: monospace;
   }
 .navbar-nav-custom{
    width: 75%;
    float: left;
    
    li.navbar-li-custom{
      font-family: Simplifica;
      font-size: 2.5em;
      a{
        color: white;
        padding: 15px;
      }
    }
    li.cv-link{
      float:right;
      font-weight: bold;
    }
  }
}

/* Home Page - About Page */
.row-separator {
  border-bottom: 2px solid;
}
.col-separator {
  border-right: 2px solid;
}
.quadrant {
  padding: 20px;
  min-height: 250px;
  text-align: center;
}
.skills, .check-out-projects{
    font-variant: all-small-caps;
    font-size: 20px;
    background: white;
    opacity: 0.9;
    color: black;
    padding: 10px;
    
}
.check-out-projects{
    font-size: 30px;
    a {
      color:black;
      &:hover, &:visited{
        text-decoration: none;
        background: transparent;
      }
    }
}

.intro-text-container, .keys-container, .about-text-container{
  float: left;
  font-family: monospace;

  .keys-info{
    line-height: 40px;
    font-size: 24px;
    font-variant: small-caps;
    font-weight:bold;
  }

  .commits {
    .panel{
      color:black;
      a{
        color:black;
        font-weight: bold;
      }
      .commit-message{
        font-style: italic;
      }
      .commit-date {
        font-size: 12px;
        margin-top: 5px;
      }

      .commit-item{
        padding: 10px 0px;
        border-bottom: 1px solid gray;
      }
      .commit-item:last-child {
        border-bottom: 0px;
      }
    }
  }
}


.contact-block{
    font-family: Simplifica;
    font-size: 2.5em;
    line-height: 1.5;
}



/* Projects Page */
.projects-pane{
  position:fixed;
  float:left;
  top: 100px;

  ul.nav-demo{
    padding: 0;
  }

  li{
    background: rgba(0,0,0,0.8);
    border: 1px solid black;
    font-family: monospace;
    &:hover{
      background-color:#eee;
      a, a:hover, a:visited{
        cursor: pointer;
        background-color:#eee;
        color:black;
        text-decoration:none;
      }
    }
    &.active{
      background:white;
      a{
        color:black;
        &:visited, &:hover{
          color:black !important;
          background-color:white;
          text-decoration:none;
        }
      }
    }
    a,a:hover,a:visited{
      color:white;
      padding: 15px;
      display:block;
    }
  }
}

.projects-list{
  overflow: hidden;
  margin-left: 30%;

  section{
    position:relative;

    .invisible-anchor, .invisible-anchor-2{
      position: absolute;
      top: -150px;
      visibility:hidden;
    }
    .invisible-anchor{
      height: 100%
    }

  }
  
  .project-content-container{
    padding: 30px;
    height: 100%;
    font-family: monospace;
    background-color: rgba(0,0,0,0.8);
    margin-bottom: 30px;

    a{
      color: white;
      text-decoration: underline;

      &:visited, &:hover {
        color: white;
        text-decoration: underline;
      }
    }

    .project-title-period-container{
      line-height: 39px;
    }

    .project-technologies{
      margin-bottom: 20px;
      line-height: 30px;
    }


    .project-description{
      margin-bottom: 20px;
    }
    .project-content-link{
      color:black;
      margin-right: 30px;
      padding: 15px;
      font-weight: bold;
      background: white;
      border-radius: 5px;
      display: inline-block;
      text-decoration: none;
      &:visited, &:hover{
        color:black;
        text-decoration:none;
      }
    }

    .project-image-container{
      float: right;
      margin-left: 30px;
      margin-bottom: 30px;

      .main-image{
        height: 125px;
        border-radius: 5px;
        cursor: pointer;
        transition: 0.3s;
      }
    }
  }
}

/* About Page */
.about-text-container
{
  display:none;
}
.personal-details{
  a{
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
    margin-left: 5px;
    &:hover, &:visited{
      color:white;
      text-decoration: none;
      font-weight: bold;
      background: none;
    }
  }
}


/* Footer */
.footer-container{
  padding-top: 30px;
  padding-bottom: 30px;
  font-family: monospace;
  text-align: right;
}

/* Admin pages */

input {
  color: black;
}

.admin-links-panel {
  width: 40%;
  float: right;
  padding: 20px;
}

