<p class="tech-title">
  <%= technology.title %> - <%= technology.order %> - 
  <% if admin_signed_in? %>
    <%= link_to 'Edit technology', edit_technology_path(technology) %>
  <% end %>
</p>

