<div class="technology-container">
  <div class="tech-title">
    <%= technology.title %>
  </div>
  <div class="tech-description">
    <%=raw technology.description %>
  </div>
  <div>
    <div class="tech-projects">
      <% technology.projects.each do |project| %>
          <%= link_to project.title, "#{projects_path}#project_#{project.id}", :class => 'btn btn-primary btn-project' %>
      <% end %>
    </div>
  </div>
</div>

