<p id="notice"><%= notice %></p>

<h2 align="center">Technologies</h2>

<div class="technology-listing">
  <%= render @technologies.order(order: :desc) %>
</div>

<hr />

<%= link_to 'New Technology', new_technology_path %>
